* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    
}


.menu-btn {

    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

.container{
    width: 90%;
    /*margin: auto;/   
    /justify-content: center;*/
    margin-left: auto;
    margin-right: auto;

}

.nav-main {
    font-size: 17px; 
    display: grid;
  
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*align-items: center;/
    /justify-content: center;*/
    
    height: 120px;
    padding: 3px;
    background: #fff;
}

.nav-main a {
  width: 90px;
  height: 90px;
}

.nav-brand{
    width: 100%;
    height: 100%;
    
}

.categorias h2{
    /*color:#0FD986;*/
    color: #0FD986;
    text-align: left;
    margin-bottom: 10px;
    padding-left:0px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.grid2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: .5em;  
    /*justify-content: center;*/
    margin-left: auto;
    margin-right: auto;

    /*padding-left:;
    padding-right:;*/
    
}

.grid2 img{
    width:300px;
    height:300px;
    
    /*border-radius: px;*/
      
}


.nested_grid {
    display: grid;
    grid-template-columns: 90%;
    /*grid-template-rows: 300px;*/
    gap:em;
    margin-top:5px;
    position: relative;
    background: white;
    padding-left: px;
    margin-left: auto;
    margin-right: auto;

    /*justify-items: stretch; */
}


.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 10px;
    background: #D96404;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0px; 
    text-decoration: none;
    border-radius:4px;
}


.btn:hover {
    opacity: .7; 
    color: #0FD986;
 }




/*efecto*/

.nested_grid {
    position: relative;
    overflow: hidden;
  
}


.nested_grid:hover .descripcion{
    transform: translate(0,0);
    padding: 6px;
    
}

.nested_grid:hover .img{
    transform: scale(1.2);
}


.img {
    transition:  1.2s;
    position: relative;
}


 .descripcion{
    bottom: 0;
    background: rgba(0,0,0,0.5);
    transform: translate(0,-200%);
    transition: all 1.5s ease-out;
    position: absolute;
    
 }


.descripcion h2{
    color: white;
    margin-top: 20px;
   
}
    
.descripcion p{
        color: white;
        bottom: 0;
     
       
    }
    /*efecto*/
   

/*footer*/
.footer_container {
  background: #2e2f2f;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  height:250px;
  margin-top: 3em;
  
}

.footer_container a {
    color: #fff;
    text-decoration: none;
}

.grid3 {
    display: grid;
    grid-template-columns: 20% 20% 20% 10% 30%;
    gap: 30px;  
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 16px;
    width: 90%;
    align-content: center;
    margin: auto;   
    justify-content:center;
   
   /* margin-left: auto;
    margin-right: auto;

    padding-left:;
    padding-right:;*/
    
}

#footer_logo1 {
    width: 60%;
    height: auto;
    margin-top: 20px;
}

#footer_logo2 {
    width: 50%;
    height: auto;
    margin-top: 20px;
}

#footer_logo3 {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/*footer*/



/*cerrar sesion*/
.csesion_btn a {
  
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.csesion_btn a {
  
  cursor: pointer;
  /*display: inline-flex;*/
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #D96404;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ffffff;
  /*margin: 10px 0px;*/
    
  border-radius:4px;
    
}


.csesion_btn a {
    text-decoration: none;
   
}

.csesion_btn a:hover {
    opacity: .7;
    color: #0FD986; 
 }

 .csesion_btn {
     text-align: right;
     width: 96.6%;
    padding-top: 0px;
 }
/*cerrar sesion*/    



/*ventana emergente*/

.overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.overlay.active {
    visibility: visible;
}
.categorias .titlerace{
    font-weight: lighter;
    color:black;
}



.popup{
    background: #f8f8f8;
    color: #383838;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    text-align: center;
    width: 500px;
    height: 400px;


}


.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}


.popup p{
   font-size: 20px; 
   font-weight: 600;
   margin-bottom: 10px;
    /*opacity: ; */                                                                                                                                                                              
}

#iconos1 i{
   font-size: 50px;
   color: #383838 ;
}

#iconos1 i:hover{
   color: #25D366; 
}



#iconos2 i{
    font-size: 50px;
    color: #383838;
    margin-top: 50px;

 }

 #iconos2 i:hover{
    color: #1876f2;
}


#btn-abrir-popup{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 10px;
    background: #D96404;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0px; 
    text-decoration: none;
    border-radius:4px;
}


#btn-abrir-popup:hover {
    opacity: .7; 
    color: #0FD986;
 }









/*ventana emergente*/







    /*
     overflow: hidden;
    
    
    
    .grid2 img:hover .descripcion{
    transform: translateY(0%);
}

 bottom: 0;
    position: absolute;
    background: 0,0,0,0.7;
    transform: translateY(100%);
    transition: all 0.5s ease-out;


  position: absolute;
        text-align: justify;
       transform: translateY(100%);
       transition: all 0.5s ease-out;


*/